registry=https://registry.npmjs.com/
@bt:registry=https://mobius-gitlab.bt.com/api/v4/projects/477/packages/npm/
//mobius-gitlab.bt.com/api/v4/projects/477/packages/npm/:_authToken=${GITLAB_TOKEN}
@bt-cdo:registry=https://nexus.aws.mobius.nat.bt.com/repository/APP20295_BIAB_npm_hosted/
//nexus.aws.mobius.nat.bt.com/repository/APP20295_BIAB_npm_hosted/:_auth=${NEXUS_TOKEN}
